[Unit]
Description=FTO Frontend Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/app/fto/frontend
ExecStartPre=/bin/bash -lc 'if [[ -f /root/.nvm/nvm.sh ]]; then source /root/.nvm/nvm.sh; fi; if command -v npm >/dev/null 2>&1; then npm run build; elif [ -x /usr/bin/npm ]; then /usr/bin/npm run build; else echo "[error] npm not found" >&2; exit 1; fi'
ExecStart=/bin/bash -lc 'if [[ -f /root/.nvm/nvm.sh ]]; then source /root/.nvm/nvm.sh; fi; if command -v npm >/dev/null 2>&1; then npm run start; elif [ -x /usr/bin/npm ]; then /usr/bin/npm run start; else echo "[error] npm not found" >&2; exit 1; fi'
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
