[Unit]
Description=FTO Frontend Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/app/fto/frontend
ExecStartPre=/bin/bash -lc 'source /root/.nvm/nvm.sh && npm run build'
ExecStart=/bin/bash -lc 'source /root/.nvm/nvm.sh && npm run start'
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
